<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header(option)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" th:fragment="navbar (active)">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/icon.png}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">GameShop3 [Lab 5]
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app"
                aria-controls="navbar-app" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/juegos}">Juegos</a>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/plataformas}">Plataformas</a>
                </li>
            </ul>
        </div>

        <div sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0 d-flex">
            <a class="nav-link" th:href="@{/signIn}">Iniciar Sesión</a>
        </div>

        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse justify-content-end" id="navbar-app">
            <div class="form-inline my-2 my-lg-0 d-flex">
                <span th:text="|Bienvenido ${session.usuario.nombres} ${session.usuario.apellidos}|" class="navbar-text"></span>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-link" type="submit" value="(Cerrar Sesión)"/>
                </form>
            </div><!--Mal colocado->
        </div>
    </nav>
</div>
</body>
</html>